# Ignore everything by default
*

# Keep git-related files
!.gitignore
!README.md

# Keep your deploy script(s)
!package.json
!package-lock.json
!deploy.js

# Keep wrapper files (e.g., index.html, CSS, JS around Unity build)
!app/
!app/**

# Keep the Unity WebGL build
!Build/
!Build/**
!TemplateData/
!TemplateData/**
!index.html
